<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>测试管理系统</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <style type="text/css">
     html {
       overflow: hidden;
     }
    </style>
  </head>
  <body>
    <!-- <noscript>Sorry, we need js to run correctly!</noscript> -->
    <!-- 参考 https://harttle.land/2016/04/24/client-height-width.html -->
    <div id="root"></div>
    <script type="text/javascript">
    function autodivheight() {
      var winHeignt = 0;
      if(window.innerHeight) {
        // ie9及其以上版本写法
        winHeignt = window.innerHeight;
      }else if((document.compatMode === 'CSS1Compat')) {
        // 标准模式写法(有DTD时)
        winHeignt = document.documentElement.clientHeight;
      } else {
        // 无DTD时
        winHeignt = document.body.clientHeight;
      }
       document.getElementById("root").style.height = winHeignt + "px";
    }
    window.onresize = autodivheight;
    </script>
  </body>
</html>
