<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>测试管理系统</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <style type="text/css">
     html {
       overflow: hidden;
       /* filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
      -webkit-filter: grayscale(1); */
    /* 链接：https://juejin.im/post/5e86e221e51d4546ce27b99c */
     }
     .header-span {
    font-size: 18px;
    font-weight: bold;
    color: #595959;
    }
    .layout-header {
    position: fixed;
    width: 96%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #e8e8e8; */
    background: #fff!important;
    overflow: hidden;
   }
   .layout-header.ant-layout-header{
    background:#ffffff
    }
   .content-wrapper {
    width: 100%;
    padding-top: 64px;
    /* height: 100vh; */
    overflow: auto;
   }
   .content-wrapper .layout-wrapper {
    height: 100%;
  } 
  /* .table-box {
    height: 100vh;
    padding: 4px 10px;
    box-sizing: border-box;
    overflow: auto;
  } */
    </style>
  </head>
  <!-- style="filter: grayscale();"  降低色素 灰-->
  <body >
    <!-- <noscript>Sorry, we need js to run correctly!</noscript> -->
    <!-- 参考 https://harttle.land/2016/04/24/client-height-width.html -->
    <div id="root"></div>
    <script type="text/javascript">
    function autodivheight() {
      var winHeignt = 0;
      if(window.innerHeight) {
        // ie9及其以上版本写法
        winHeignt = window.innerHeight;
      }else if((document.compatMode === 'CSS1Compat')) {
        // 标准模式写法(有DTD时)
        winHeignt = document.documentElement.clientHeight;
      } else {
        // 无DTD时
        winHeignt = document.body.clientHeight;
      }
       document.getElementById("root").style.height = winHeignt + "px";
    }
    window.onresize = autodivheight;
    </script>
  </body>
</html>
