.toolbar{
    width: 24px;
    height: 150px;
    background: url(../assets/tbHandleBarHv.svg) no-repeat;
    display: inline-block;
    text-align: center;
    color: #fff;
    position: fixed;
    top: 50%;
    margin-top: -75px;
    cursor: pointer;
    background-size: cover;
    .right{
        width: 24px;
        height: 24px;
        background: url(../assets/tbButtonBarArrowR.svg) no-repeat;
        margin-top: 23px;
        display: inline-block;
        background-size: cover;
    }
}